API_URL="https://api.unsplash.com"
UNSPLASH_AUTH_URL="https://unsplash.com/oauth"
PERMISSION_SCOPES="write_collections+read_user+write_user+write_photos+read_collections"
UNSPLASH_CLIENT_ID="id"
UNSPLASH_CLIENT_SECRET="secret-key"
REDIRECT_URL="http://localhost:3000/auth?"